# Use `.python-version` file to coordinate the Virtual Environment Requirements
if [ -f ".python-version" ]; then
    pyversion=$(head .python-version)
else
    pyversion=3.11.5 # Default
fi

layout pyenv ${pyversion}

unset GOOGLE_APPLICATION_CREDENTIALS
export RUN_LOCAL=True
