# direnv Configuration File
#
# See the `README.md` document for install instructions.

# Use `.python-version` file to coordinate the Virtual Environment Requirements
if [ -f "${cwd}/../.python-version" ]; then
    pyversion=$(head .python-version)
else
    pyversion=3.8.6 # Default
fi

layout pyenv ${pyversion} || layout python3

echo ""
echo "!! Call \`./install_deps.sh\` to reinstall dependencies, if package has been updated."
echo ""
